div{
    color:red;
    font-style:italic;
    text-align: center;
    height: 90px;
    width: 90px;
    border: 1px solid;
    border-color: black;
    background-color: palevioletred;
    margin: 5px;
}
.myPara-class{
    color:yellow;
    font-style:italic;
}
body{
    background-color:pink;
}
.box{
    text-align: center;
    height: 80px;
    width: 80px;
    color: red;
    border: 1px solid;
    border-color: black;
    margin: 5px;

}
.mypara{
    color: blue;
}
.newclass{
    background-color:yellow;
}
.dark{
    background-color: black;
    color: white;
}

.light{
    background-color: white;
    color: black;
}